.row{
    margin-left: 20px;
    color: #fff;
    margin-top: 10px;
}
.posters{
    display: flex;
    padding-top: 16px;
    padding-left: 7px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    max-height: 210px;
    margin-right: 10px;
    cursor: pointer;
}
.smallposter{
    cursor: pointer;
    max-height: 160px;
    margin-right: 10px;
}
.poster:hover{
    transform: scale(1.2);
}
.smallposter:hover{
    transform: scale(1.2);
}
.name{
    text-align: center;
    justify-content: center;
}